* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #72695d;
}

html, body {
  height: 100%;
}

body {
    background-image: url("img/back.jpg");
    /*background-position: center;*/
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0px; padding: 0px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}

p {
  line-height: 1.5em;
  font-size: 0.95em;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 10%;
  /*height: auto;*/
  padding: 5% 2% 0% 2%;
  text-align: center;
  position: fixed;
  height: 100%;
  /*z-index: 999;*/
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  padding-bottom: 2em;
}

.button {
  border-radius: 50px;
  color:white;
  text-decoration: none;
  background: #c3b594;
  display: inline-block;
  padding: 0.6em 0.4em;
  font-size: 1.2em;
  text-transform: uppercase;
  }

.button:hover {
  transition: all 0.4s ease;
  background: #b7a78a;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 0.5em;
}

.sign {
  padding-bottom: 1em;
}

       

footer {
  position: absolute;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  
  height: 6%;
  background-color: #c3b59b;
  
  /*background-color: #c3b59b;
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  margin: auto;*/
}

footer:hover {
  transition: all 0.4s ease;
  background: #b7a78a;
}

#nav_left {
  float: left;
}

#nav_right {
  float: right;
}

#footer_left {
  float: left;
  padding: 0.4em 0.4em;
  color: white;
  left: 0;
  font-size: 0.8em;
  font-weight: 100;
}

#footer_center {
  float: top;
  padding-top: 0.4em;
  color: white;
  margin-left: 20%;
  font-size: 0.8em;
  font-weight: 100;   
}