* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #72695d;
	  border: 1px solid transparent;
}

html, body {
  height: 100%;
}

body {
    background-image: url("img/back.jpg");
    /*background-position: center;*/
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0px; padding: 0px;
}

.popup_bg {
  background-image: none;
  background-color: white;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}

p {
  line-height: 1.5em;
  font-size: 0.95em;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 10%;
  /*height: auto;*/
  padding: 5% 2% 0% 2%;
  text-align: center;
  position: fixed;
  height: 100%;
  /*z-index: 999;*/
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  padding-bottom: 2em;
}

.button {
  border-radius: 50px;
  color:white;
  width: 12em;
  text-decoration: none;
  background: #c3b594;
  display: inline-block;
  padding: 0.6em 0.1em;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  transition: all 0.4s ease;
  background: #b7a78a;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 0.5em;
}

.sign {
  padding-bottom: 1em;
}
  
footer {
  position: absolute;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6%;
  background-color: #c3b59b;
}

footer:hover {
  transition: all 0.4s ease;
  background: #b7a78a;
}

#nav_left {
  float: left;
}

#nav_right {
  float: right;
}

#footer_left {
  float: left;
  padding: 0.4em 0.4em;
  color: white;
  left: 0;
  font-size: 0.8em;
  font-weight: 100;
}

#footer_center {
  float: top;
  padding-top: 0.4em;
  color: white;
  margin-left: 20%;
  font-size: 0.8em;
  font-weight: 100;   
}

#popup_heading {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);

}
#popup_line {
  display:flex;
  justify-content:center;
  align-items:center;
}

input {
  width: 100%;
  border-radius: 3px;
  border-color: #b7a78a;
  padding: 0.1em 0.1em;
  font-size: 1.2em;
}

.input_name {
  margin-bottom: 0em;
}

/* Hide up and down arrows on number input field. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  width: 100%;
  height: 8.6em;
  border-radius: 4px;
  border-color: #b7a78a;
  resize: none;
  display: block;
  font-size: 1.2em;
}

#form {
  margin-top: 6em;
	width: 45em;
  height: 14em;
  margin-left: auto;
  margin-right: auto;
}

#form_left {
  width: 22em;
  float: left;
}

#form_right {
  width: 22em;
  float: right;
}

#form_button {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}