* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #72695d;
}

html, body {
  height: 100%;
}

body {
    background-image: url("img/back.jpg");
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;
    margin: 0px; padding: 0px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
}

p {
  line-height: 1.5em;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 10%;
  /*height: auto;*/
  padding: 5% 5% 0% 5%;
  text-align: center;
  position: fixed;
  height: 100%;
  /*z-index: 999;*/
}

 
       a {
            
            border-radius: 50px;
            color:white;
            text-decoration: none;
            background: #c3b594;
            display: inline-block;
            padding: 20px 10px;
            font-size: 1.2em;
            text-transform: uppercase;
       }
            a:hover {
                transition: all 0.4s ease;
                text-decoration: none;
                background: #b7a78a;
            }
       

       

.bottom_bar {
  background-color: #c3b59b;
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  margin: auto;
}

#left {
  float: left;
  padding: 0.5em 0.5em;
  color: white;
  left: 0;
  font-size: 0.8em;
  font-weight: 100;
}

#center {
  float: top;
  padding-top: 0.5em;
  color: white;
  margin-left: 20%;
  font-size: 0.8em;
  font-weight: 100;
   
}